$dark-blue: #000d23;
$blue: #001e50;
$mid-blue: #00437a;
$light-blue: #d7e6ff;
$white: #edf4ff;

@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  align-items: center;
}

@mixin grid-card {
  display: grid;
  gap: 40px;

  @media (min-width: 768px) {
    overflow-x: auto;
    margin-inline: -60px;
    padding-inline: 60px;
    grid-template-columns: repeat(3, 360px);
  }

  @media (min-width: 1200px) {
    gap: 0;
    justify-content: space-around;
  }
}

@mixin two-weight-header {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;

  span {
    font-weight: 500;
  }
}

@mixin header {
  header {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 40px;
    margin-bottom: 80px;

    h2 {
      @include two-weight-header;
    }

    div {
      display: none;
    }

    @media (min-width: 768px) {
      margin-bottom: 120px;

      div {
        display: block;
        width: 64px;
        height: 64px;
        background-color: $blue;
        flex-shrink: 0;
      }
    }

    @media (min-width: 1200px) {
      justify-content: center;
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: "Poppins", sans-serif;
  color: $blue;
}

main {
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;

  &.button {
    display: block;
    width: 100%;
    padding-block: 28px;
    padding-inline: 32px;
    line-height: 1.3;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid $blue;
    border-radius: 20px;
    text-align: center;
  }

  @media (min-width: 768px) {
    &.button {
      margin: 0 auto;
      width: fit-content;
      line-height: 1;
      padding-inline: 0;
      min-width: 360px;
    }
  }
}

ul {
  list-style: none;
}

section#hero {
  min-height: 100vh;
  position: relative;

  div.bg-gradient {
    background: radial-gradient(70.03% 70.03% at 50% 50%, #00437a 0%, #001e50 100%);
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.9;
  }

  div.grid-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 100px);
    padding-inline: 20px;
    padding-block: 100px;
    position: relative;

    img.discover {
      display: none;
    }

    h1 {
      color: $white;
      margin-bottom: 80px;

      span {
        display: block;
        text-align: center;
      }

      span.future {
        font-size: 44px;
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: 48px;
        position: relative;

        img.line-1 {
          position: absolute;
          bottom: -10px;
          left: 40px;
        }

        img.line-2 {
          position: absolute;
          bottom: -30px;
          left: 120px;
        }
      }

      span.egolf {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.3;
        position: relative;

        img.line-3 {
          position: absolute;
          bottom: -20px;
          right: 20%;
        }
      }
    }

    img.car {
      width: 100%;
    }
  }

  header {
    height: 100px;
    width: 100%;
    padding-block: 24px;
    display: flex;
    align-items: center;

    .logo-wrapper {
      width: 52px;
      height: 52px;
      margin-inline: 36px;
      display: inline-block;
    }
    &:before,
    &:after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: $white;
    }
  }
}

section#quote-section {
  margin-block: 200px;
  padding-inline: 20px;

  div.quote {
    margin-bottom: 80px;

    div.img-wrapper img {
      width: 100%;
    }

    p {
      font-size: 24px;
      line-height: 1.5;
      font-weight: 400;

      margin-inline: 20px;
      margin-bottom: 80px;
      position: relative;

      &:before {
        content: url("/media/quote-mark-left.svg");
        position: absolute;
        top: -40px;
        left: -20px;
      }

      &:after {
        content: url("/media/quote-mark-right.svg");
        position: absolute;
        bottom: -56px;
        right: -20px;
      }
    }
  }

  ul {
    display: grid;
    gap: 20px;

    li {
      border: 1px solid $blue;
      border-radius: 20px;
      padding-block: 28px;
      padding-left: 24px;
      line-height: 1;

      span {
        display: block;
        color: $dark-blue;
      }

      span:nth-of-type(1) {
        opacity: 0.9;
        font-size: 18px;
        margin-bottom: 24px;
      }

      span:nth-of-type(2) {
        font-size: 22px;
      }
    }
  }
}

section#electrifying-section {
  @include header;
  padding-bottom: 200px;
  padding-inline: 20px;

  .grid-wrapper {
    .grid-item {
      margin-bottom: 60px;

      &:last-of-type {
        margin-bottom: 0px;
      }
    }

    h3 {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.3;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      line-height: 1.4;
      color: $dark-blue;
    }

    .number {
      font-size: 60px;
      font-weight: 800;
      line-height: 56px;
      opacity: 0.7;
      margin-bottom: 28px;
      width: 100px;
    }
  }
}

section#london-section {
  padding-block: 140px;
  padding-inline: 40px;
  background: radial-gradient(70.03% 70.03% at 50% 50%, #00437a 0%, #001e50 100%);

  p {
    font-size: 36px;
    line-height: 1.5;
    color: $white;
    font-weight: 300;
    position: relative;
    text-align: center;

    br {
      display: none;
    }

    &:before {
      content: url("/media/quote-mark-white-left.svg");
      position: absolute;
      top: -56px;
      left: -20px;
    }

    &:after {
      content: url("/media/quote-mark-white-right.svg");
      position: absolute;
      bottom: -56px;
      right: -20px;
    }
  }
}

section#try-section {
  padding-block: 160px;
  background: radial-gradient(147.28% 31.87% at 50% 50%, #d7e6ff 0%, #edf4ff 100%);
  text-align: center;
  padding-inline: 20px;

  p {
    @include two-weight-header;
    margin-bottom: 52px;
  }
}

section#greener-section {
  @include header;
  padding-inline: 20px;
  margin-top: 80px;
  margin-bottom: 160px;

  h3 {
    font-size: 32px;
    line-height: 1.4;
    font-weight: 400;
  }

  #why-electric {
    margin-bottom: 120px;

    div {
      margin-bottom: 60px;

      h3 {
        margin-bottom: 52px;
      }

      li {
        margin-bottom: 44px;

        span.number {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 64px;
          height: 64px;
          font-size: 24px;
          line-height: 1;
          border-radius: 1000px;
          border: 1px solid $blue;
          margin-bottom: 32px;
        }

        span.header {
          display: block;
          font-size: 24px;
          line-height: 1.3;
          font-weight: 500;
          margin-bottom: 12px;
        }

        span.text {
          display: block;
          font-size: 18px;
          line-height: 1.4;
          color: $dark-blue;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    img {
      width: 100%;
    }
  }

  #simulate-section {
    h3 {
      margin-bottom: 60px;
    }

    div {
      @include grid-card;

      article {
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          border-radius: 20px;
          margin-bottom: 32px;
        }

        h4 {
          font-size: 24px;
          line-height: 1.3;
          font-weight: 500;
        }
        p {
          margin-top: 20px;
          font-size: 18px;
          line-height: 1.4;
          margin-bottom: 32px;
          color: $dark-blue;
        }
        a {
          font-size: 18px;
        }
      }
    }
  }
}

section#charging-section {
  padding-inline: 20px;
  color: $white;
  background: radial-gradient(70.03% 70.03% at 50% 50%, #00437a 0%, #001e50 100%);
  padding-block: 100px;
  margin-bottom: 200px;

  div.img-wrapper {
    display: none;
  }

  div.text-wrapper {
    h2 {
      @include two-weight-header;
      margin-bottom: 40px;
    }

    p {
      font-size: 24px;
      line-height: 1.3;
      font-weight: 300;
    }
  }
}

section#high-spec-section {
  @include header;
  margin-bottom: 200px;
  padding-inline: 20px;

  div.text-wrapper {
    margin-bottom: 120px;

    p {
      font-size: 24px;
      line-height: 1.5;
    }
  }

  #change-section {
    h3 {
      font-size: 32px;
      line-height: 1.4;
      font-weight: 400;
      margin-bottom: 52px;
      text-align: center;

      br {
        display: none;
      }
    }

    div.grid-wrapper {
      img.car {
        width: 100%;
        margin-bottom: 32px;
      }

      p {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        line-height: 1.3;

        span:nth-of-type(2) {
          text-align: right;
        }
      }

      img.slider {
        width: 100%;
        margin-bottom: 80px;
      }
    }
  }
}

section#ask-section {
  color: $white;
  padding-block: 120px;
  background: radial-gradient(70.03% 70.03% at 50% 50%, #00437a 0%, #001e50 100%);
  margin-bottom: 200px;
  padding-inline: 20px;

  p {
    font-size: 36px;
    line-height: 1.5;
    font-weight: 300;
    text-align: center;
    padding-bottom: 52px;
  }

  a {
    border-color: $white;
  }
}

section#meet-section {
  @include header;
  padding-inline: 20px;
  margin-bottom: 200px;

  #retailer-section {
    margin-bottom: 120px;

    div.text-wrapper {
      margin-bottom: 60px;

      p {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 60px;
      }
    }

    div.img-wrapper img {
      width: 100%;
    }
  }

  #tools-section {
    h3 {
      @include two-weight-header;
      text-align: center;
      margin-bottom: 80px;
    }

    div.grid-wrapper {
      @include grid-card;
      div {
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          border-radius: 20px;
          margin-bottom: 32px;
          display: block;
        }

        a {
          line-height: 1.3;
          font-size: 24px;
        }
      }
    }
  }
}

footer {
  border-top: 2px solid $blue;
  margin-inline: 20px;
  padding-top: 72px;
  padding-bottom: 72px;

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    margin-bottom: 52px;

    h4 {
      font-size: 20px;
      line-height: 1;
      font-weight: 500;
      margin-bottom: 40px;
      color: $dark-blue;
    }

    li {
      font-size: 18px;
      line-height: 1.3;
      margin-bottom: 16px;
    }
  }

  ul.links-line {
    font-size: 16px;
    line-height: 2;

    li {
      display: inline-block;

      &::after {
        content: "|";
        display: inline-block;
        padding-left: 12px;
        padding-right: 10px;
      }

      &:last-of-type {
        &::after {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  section#hero {
    div.grid-wrapper h1 {
      margin-bottom: 50px;

      span.future {
        font-size: 60px;
        font-weight: 500;
        margin-bottom: 40px;
      }

      span.egolf {
        font-size: 44px;
        font-weight: 300;
      }
    }
  }

  section#quote-section {
    padding-inline: 60px;

    div.quote p {
      margin-inline: 60px;

      &:before {
        top: -24px;
        left: -80px;
      }

      &:after {
        bottom: -24px;
        right: -80px;
      }
    }

    ul {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }
  }

  section#electrifying-section {
    padding-inline: 60px;

    .grid-wrapper {
      .grid-item {
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        gap: 44px;
      }

      .number {
        font-size: 80px;
        flex-shrink: 0;
      }
    }
  }

  section#london-section {
    padding-inline: 120px;

    p {
      &:before {
        top: -40px;
        left: -88px;
      }
      &:after {
        bottom: -40px;
        right: -88px;
      }
    }
  }

  section#try-section {
    padding-inline: 0;
  }

  section#greener-section {
    padding-inline: 60px;

    #why-electric div li {
      display: flex;
      align-items: center;
      gap: 44px;

      span.number {
        margin-bottom: 0;
        flex-shrink: 0;
      }
    }
  }

  section#charging-section {
    padding-inline: 60px;
    margin-bottom: 360px;

    div.img-wrapper {
      display: block;
      position: relative;

      img {
        height: 450px;
        position: absolute;
        right: 0;
        top: 100px;
        transform: translateY(-50%);
      }
    }

    div.text-wrapper {
      margin-bottom: 160px;
    }
  }

  section#high-spec-section {
    padding-inline: 60px;

    #change-section {
      h3 br {
        display: block;
      }

      div.grid-wrapper p {
        font-size: 24px;
      }
    }
  }

  section#ask-section {
    padding-inline: 60px;

    p br.mobile {
      display: none;
    }
  }

  section#meet-section {
    padding-inline: 60px;
  }

  footer {
    margin-inline: 60px;

    ul.links-line {
      font-size: 18px;
    }
  }
}

@media (min-width: 1024px) {
  section#hero {
    div.grid-wrapper {
      @include grid;
      padding-inline: 70px;

      img.discover {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        width: 85%;
      }

      h1 {
        grid-column: 1/7;
        margin-bottom: 0;

        span {
          text-align: left;
        }

        span.future {
          font-size: 52px;
          margin-bottom: 68px;

          img.line-1 {
            bottom: -20px;
            left: 30px;
          }

          img.line-2 {
            bottom: -45px;
            left: 70px;
          }
        }
        span.egolf {
          img.line-3 {
            right: 0px;
          }
        }
      }

      img.car {
        grid-column: 7/13;
        width: 120%;
      }
    }
  }

  section#quote-section {
    padding-inline: 70px;

    div.quote {
      @include grid;
      margin-bottom: 200px;

      div.img-wrapper {
        grid-column: 1/6;
        order: -1;
        position: relative;

        img {
          height: 300px;
          width: auto;
          position: absolute;
          right: 0;
          transform: translateY(-50%);
        }
      }

      p {
        grid-column: 6/12;
        margin: 0;
      }
    }
  }

  section#london-section {
    p {
      width: fit-content;
      margin: 0 auto;

      br {
        display: block;
      }
    }
  }

  section#greener-section {
    #why-electric {
      @include grid;
      margin-bottom: 160px;

      div {
        margin-bottom: 0;
        grid-column: 1/7;
      }

      img {
        grid-column: 7/13;
      }
    }
  }

  section#charging-section {
    @include grid;
    padding-inline: 70px;
    margin-bottom: 200px;

    div.img-wrapper {
      grid-column: 1/6;

      img {
        height: 340px;
        top: 0;
      }
    }

    div.text-wrapper {
      margin-bottom: 0;
      grid-column: 6/13;
    }
  }

  section#high-spec-section {
    #change-section {
      h3 br {
        display: none;
      }

      div.grid-wrapper {
        @include grid;

        img.car {
          grid-column: 4/10;
          margin-bottom: 16px;
        }

        p {
          grid-column: 3/11;
        }

        img.slider {
          grid-column: 3/11;
        }
      }
    }
  }

  section#ask-section {
    padding-inline: 0px;
  }

  section#meet-section {
    #retailer-section {
      @include grid;
      margin-bottom: 160px;

      div.text-wrapper {
        grid-column: 1/8;
        margin-bottom: 0px;

        p {
          margin-bottom: 40px;
        }

        a {
          margin: 0;
        }
      }

      div.img-wrapper {
        grid-column: 8/13;
        position: relative;

        img {
          width: auto;
          height: 340px;
          position: absolute;
          left: 0;
          top: 40px;
          transform: translateY(-50%);
        }
      }
    }
  }

  footer {
    .grid-wrapper {
      grid-template-columns: 1.1fr 1fr 1.2fr 0.7fr;
      margin-bottom: 72px;
    }
  }
}

@media (min-width: 1200px) {
  section#hero {
    div.grid-wrapper {
      h1 {
        grid-column: 2/7;
      }

      img.car {
        grid-column: 7/13;
        width: 100%;
      }
    }
  }

  section#quote-section {
    div.quote {
      div.img-wrapper {
        grid-column: 1/5;

        img {
          width: 130%;
          height: auto;
        }
      }

      p {
        grid-column: 5/12;
      }
    }

    ul {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  section#electrifying-section {
    padding-inline: 0;

    .grid-wrapper {
      @include grid;
      padding-inline: 70px;

      .grid-item-1 {
        grid-column: 3/10;
      }

      .grid-item-2 {
        grid-column: 5/12;
      }

      .grid-item-3 {
        grid-column: 4/11;
      }
    }
  }

  section#greener-section {
    padding-inline: 0;

    #why-electric {
      padding-inline: 70px;

      div {
        grid-column: 2/7;
      }

      img {
        grid-column: 8/13;
      }
    }

    #simulate-section {
      margin-inline: 70px;

      h3 {
        text-align: center;
        margin-bottom: 80px;
      }
    }
  }

  section#charging-section {
    div.img-wrapper {
      img {
        height: 450px;
      }
    }

    div.text-wrapper {
      grid-column: 6/12;
    }
  }

  section#high-spec-section {
    padding-inline: 0;

    div.text-wrapper {
      @include grid;
      padding-inline: 70px;

      p {
        grid-column: 2/12;
      }
    }
  }

  section#meet-section {
    padding-inline: 70px;

    #retailer-section {
      div.text-wrapper {
        grid-column: 2/8;
      }

      div.img-wrapper {
        grid-column: 8/13;

        img {
          width: 130%;
          height: auto;
        }
      }
    }
  }

  footer {
    margin-inline: 70px;
  }
}
