* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #edf4ff;
  font-family: "Poppins", sans-serif;
  color: #001e50;
}

main {
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 250ms ease-in-out;
  position: relative;
}
a.button {
  display: block;
  width: 100%;
  padding-block: 28px;
  padding-inline: 32px;
  line-height: 1.3;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #001e50;
  border-radius: 20px;
  text-align: center;
  transition: transform 250ms ease-in-out, background-color 250ms ease-in-out;
}
a.button:hover {
  background-color: rgba(0, 30, 80, 0.05);
  transform: scale(1.05);
}
@media (min-width: 768px) {
  a.button {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
    line-height: 1;
    padding-inline: 0;
    min-width: 360px;
  }
}

ul {
  list-style: none;
}

nav {
  width: 100%;
  background-color: #edf4ff;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #001e50;
  padding-block: 2px;
  opacity: 0;
}
@media (min-width: 1024px) {
  nav {
    padding-inline: 70px;
  }
}
@media (min-width: 1920px) {
  nav {
    padding-inline: 10%;
  }
}
@media (min-width: 2200px) {
  nav {
    padding-inline: 15%;
  }
}
nav button {
  width: 100%;
  color: #001e50;
  background: none;
  border: none;
  padding-block: 12px;
}
nav ul {
  background-color: #edf4ff;
  border-bottom: 1px solid #001e50;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 300ms;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
  position: absolute;
  top: 98%;
  padding-block: 20px;
}
nav ul li {
  text-align: center;
}
nav ul li a {
  font-size: 20px;
}
nav ul li a:hover {
  color: #068cc4;
}
nav ul.open {
  opacity: 1;
  transform: scaleY(1);
}

header#hero {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
header#hero div.bg-gradient {
  background: radial-gradient(70.03% 70.03% at 50% 50%, #00437a 0%, #001e50 100%);
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
}
header#hero div.grid-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 100px);
  padding-inline: 20px;
  padding-block: 70px;
  position: relative;
}
header#hero div.grid-wrapper img.discover {
  display: none;
}
header#hero div.grid-wrapper h1 {
  color: #edf4ff;
  margin-bottom: 80px;
}
header#hero div.grid-wrapper h1 span {
  display: block;
  text-align: center;
}
header#hero div.grid-wrapper h1 span.future {
  font-size: 44px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 48px;
  position: relative;
}
header#hero div.grid-wrapper h1 span.future img.line-1 {
  position: absolute;
  bottom: -10px;
}
header#hero div.grid-wrapper h1 span.future img.line-2 {
  position: absolute;
  bottom: -30px;
}
header#hero div.grid-wrapper h1 span.egolf {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.3;
  position: relative;
}
header#hero div.grid-wrapper h1 span.egolf img.line-3 {
  position: absolute;
  bottom: -20px;
}
header#hero div.grid-wrapper img.car {
  width: 100%;
  opacity: 0;
  position: relative;
}
header#hero div.logo-line {
  height: 100px;
  width: 100%;
  padding-block: 24px;
  display: flex;
  align-items: center;
  position: relative;
}
header#hero div.logo-line .logo-wrapper {
  width: 52px;
  height: 52px;
  margin-inline: 36px;
  display: inline-block;
}
header#hero div.logo-line:before, header#hero div.logo-line:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #edf4ff;
}

section#quote-section {
  padding-top: 240px;
  padding-inline: 20px;
}
section#quote-section div.quote {
  margin-bottom: 80px;
}
section#quote-section div.quote div.img-wrapper img {
  width: 100%;
  position: relative;
  opacity: 0;
}
section#quote-section div.quote p {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  margin-inline: 20px;
  margin-bottom: 80px;
  position: relative;
  opacity: 0;
}
section#quote-section div.quote p:before {
  content: url("/media/quote-mark-left.svg");
  position: absolute;
  top: -40px;
  left: -20px;
}
section#quote-section div.quote p:after {
  content: url("/media/quote-mark-right.svg");
  position: absolute;
  bottom: -56px;
  right: -20px;
}
section#quote-section ul {
  display: grid;
  gap: 20px;
}
section#quote-section ul li {
  border: 1px solid #001e50;
  border-radius: 20px;
  padding-block: 28px;
  padding-left: 24px;
  line-height: 1;
  position: relative;
  opacity: 0;
}
section#quote-section ul li span {
  display: block;
  color: #000d23;
}
section#quote-section ul li span:nth-of-type(1) {
  opacity: 0.9;
  font-size: 18px;
  margin-bottom: 24px;
}
section#quote-section ul li span:nth-of-type(2) {
  font-size: 22px;
}

section#electrifying-section {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-inline: 20px;
}
section#electrifying-section header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 40px;
  margin-bottom: 80px;
}
section#electrifying-section header h2 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  opacity: 0;
  position: relative;
}
section#electrifying-section header h2 span {
  font-weight: 500;
}
section#electrifying-section header div {
  display: none;
  opacity: 0;
}
@media (min-width: 768px) {
  section#electrifying-section header {
    margin-bottom: 120px;
  }
  section#electrifying-section header div {
    display: block;
    width: 64px;
    height: 64px;
    background-color: #001e50;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  section#electrifying-section header {
    justify-content: center;
  }
}
section#electrifying-section .grid-wrapper .grid-item {
  margin-bottom: 60px;
}
section#electrifying-section .grid-wrapper .grid-item:last-of-type {
  margin-bottom: 0px;
}
section#electrifying-section .grid-wrapper div.text {
  position: relative;
  opacity: 0;
}
section#electrifying-section .grid-wrapper h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 20px;
}
section#electrifying-section .grid-wrapper p {
  font-size: 18px;
  line-height: 1.4;
  color: #000d23;
}
section#electrifying-section .grid-wrapper .number {
  font-size: 60px;
  font-weight: 800;
  line-height: 56px;
  opacity: 0;
  margin-bottom: 28px;
  width: 100px;
  position: relative;
}

section#london-section {
  padding-block: 140px;
  padding-inline: 40px;
  background: radial-gradient(70.03% 70.03% at 50% 50%, #00437a 0%, #001e50 100%);
  opacity: 0;
}
section#london-section p {
  font-size: 36px;
  line-height: 1.5;
  color: #edf4ff;
  font-weight: 300;
  position: relative;
  text-align: center;
  opacity: 0;
}
section#london-section p br {
  display: none;
}
section#london-section p:before {
  content: url("/media/quote-mark-white-left.svg");
  position: absolute;
  top: -56px;
  left: -20px;
}
section#london-section p:after {
  content: url("/media/quote-mark-white-right.svg");
  position: absolute;
  bottom: -56px;
  right: -20px;
}

section#try-section {
  padding-top: 160px;
  padding-bottom: 60px;
  background: radial-gradient(147.28% 31.87% at 50% 50%, #d7e6ff 0%, #edf4ff 100%);
  text-align: center;
  padding-inline: 20px;
  opacity: 0;
}
section#try-section p {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 52px;
  opacity: 0;
  position: relative;
}
section#try-section p span {
  font-weight: 500;
}

section#greener-section {
  padding-top: 160px;
  padding-inline: 20px;
  margin-bottom: 160px;
}
section#greener-section header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 40px;
  margin-bottom: 80px;
}
section#greener-section header h2 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  opacity: 0;
  position: relative;
}
section#greener-section header h2 span {
  font-weight: 500;
}
section#greener-section header div {
  display: none;
  opacity: 0;
}
@media (min-width: 768px) {
  section#greener-section header {
    margin-bottom: 120px;
  }
  section#greener-section header div {
    display: block;
    width: 64px;
    height: 64px;
    background-color: #001e50;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  section#greener-section header {
    justify-content: center;
  }
}
section#greener-section h3 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: 400;
  opacity: 0;
}
section#greener-section #why-electric div {
  margin-bottom: 60px;
}
section#greener-section #why-electric div h3 {
  margin-bottom: 52px;
}
section#greener-section #why-electric div li {
  margin-bottom: 44px;
}
section#greener-section #why-electric div li span.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  font-size: 24px;
  line-height: 1;
  border-radius: 1000px;
  border: 1px solid #001e50;
  margin-bottom: 32px;
  opacity: 0;
}
section#greener-section #why-electric div li span.text-wrapper {
  opacity: 0;
  position: relative;
}
section#greener-section #why-electric div li span.text-wrapper span.header {
  display: block;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 12px;
}
section#greener-section #why-electric div li span.text-wrapper span.text {
  display: block;
  font-size: 18px;
  line-height: 1.4;
  color: #000d23;
}
section#greener-section #why-electric div li:last-of-type {
  margin-bottom: 0;
}
section#greener-section #why-electric img {
  width: 100%;
  opacity: 0;
}
section#greener-section #simulate-section {
  padding-top: 120px;
}
section#greener-section #simulate-section h3 {
  margin-bottom: 60px;
}
section#greener-section #simulate-section div {
  display: grid;
  gap: 40px;
  padding-block: 20px;
}
@media (min-width: 768px) {
  section#greener-section #simulate-section div {
    overflow-x: auto;
    margin-inline: -60px;
    padding-inline: 60px;
    grid-template-columns: repeat(3, 360px);
  }
}
@media (min-width: 1200px) {
  section#greener-section #simulate-section div {
    gap: 0;
    justify-content: space-evenly;
    margin-inline: 0px;
    padding-inline: 0;
  }
}
@media (min-width: 1340px) {
  section#greener-section #simulate-section div {
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 1600px) {
  section#greener-section #simulate-section div {
    max-width: 1280px;
    justify-content: space-around;
  }
}
@media (min-width: 1920px) {
  section#greener-section #simulate-section div {
    grid-template-columns: repeat(3, 400px);
    max-width: 1400px;
  }
}
section#greener-section #simulate-section div article {
  opacity: 0;
  position: relative;
}
section#greener-section #simulate-section div article img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  margin-bottom: 32px;
}
section#greener-section #simulate-section div article h4 {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 500;
}
section#greener-section #simulate-section div article p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 32px;
  color: #000d23;
}
section#greener-section #simulate-section div article a {
  font-size: 18px;
}
section#greener-section #simulate-section div article a:hover {
  transform: scale(0.98);
}

section#charging-section {
  padding-inline: 20px;
  color: #edf4ff;
  background: radial-gradient(70.03% 70.03% at 50% 50%, #00437a 0%, #001e50 100%);
  padding-block: 100px;
  opacity: 0;
}
section#charging-section div.img-wrapper {
  display: none;
}
section#charging-section div.text-wrapper h2 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0;
  position: relative;
}
section#charging-section div.text-wrapper h2 span {
  font-weight: 500;
}
section#charging-section div.text-wrapper p {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 300;
  opacity: 0;
  position: relative;
}

section#high-spec-section {
  margin-bottom: 200px;
  padding-inline: 20px;
  padding-top: 200px;
}
section#high-spec-section header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 40px;
  margin-bottom: 80px;
}
section#high-spec-section header h2 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  opacity: 0;
  position: relative;
}
section#high-spec-section header h2 span {
  font-weight: 500;
}
section#high-spec-section header div {
  display: none;
  opacity: 0;
}
@media (min-width: 768px) {
  section#high-spec-section header {
    margin-bottom: 120px;
  }
  section#high-spec-section header div {
    display: block;
    width: 64px;
    height: 64px;
    background-color: #001e50;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  section#high-spec-section header {
    justify-content: center;
  }
}
section#high-spec-section div.text-wrapper {
  margin-bottom: 120px;
}
section#high-spec-section div.text-wrapper p {
  font-size: 24px;
  line-height: 1.5;
  opacity: 0;
  position: relative;
}
section#high-spec-section #change-section h3 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 52px;
  text-align: center;
  opacity: 0;
}
section#high-spec-section #change-section h3 br {
  display: none;
}
section#high-spec-section #change-section div.grid-wrapper div.img-wrapper {
  margin-bottom: 32px;
  position: relative;
}
section#high-spec-section #change-section div.grid-wrapper div.img-wrapper img.base-car {
  opacity: 0;
  width: 100%;
}
section#high-spec-section #change-section div.grid-wrapper div.img-wrapper img.color-car {
  width: 100%;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
section#high-spec-section #change-section div.grid-wrapper p {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 1.3;
}
section#high-spec-section #change-section div.grid-wrapper p span {
  opacity: 0;
}
section#high-spec-section #change-section div.grid-wrapper p span:nth-of-type(2) {
  text-align: right;
}
section#high-spec-section #change-section div.grid-wrapper div.slider-wrapper {
  position: relative;
  margin-bottom: 80px;
  width: 100%;
}
section#high-spec-section #change-section div.grid-wrapper div.slider-wrapper div.slider {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#high-spec-section #change-section div.grid-wrapper div.slider-wrapper div.slider #slider-c1 {
  position: relative;
  opacity: 0;
  left: -14px;
}
section#high-spec-section #change-section div.grid-wrapper div.slider-wrapper div.slider #slider-c2 {
  position: relative;
  opacity: 0;
  left: 14px;
}
section#high-spec-section #change-section div.grid-wrapper div.slider-wrapper div.slider .slider-line-wrapper {
  width: 80%;
  position: relative;
  height: 2px;
}
section#high-spec-section #change-section div.grid-wrapper div.slider-wrapper div.slider .slider-line-wrapper #slider-line {
  position: absolute;
  left: 0;
  width: 100%;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 120%, 0% 120%);
          clip-path: polygon(0% 0%, 0% 0%, 0% 120%, 0% 120%);
  transition: -webkit-clip-path 0.05s ease-in-out;
  transition: clip-path 0.05s ease-in-out;
  transition: clip-path 0.05s ease-in-out, -webkit-clip-path 0.05s ease-in-out;
  height: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}
section#high-spec-section #change-section div.grid-wrapper div.slider-wrapper div.slider .slider-line-wrapper #slider-line-light {
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 120%, 0% 120%);
          clip-path: polygon(0% 0%, 0% 0%, 0% 120%, 0% 120%);
  transition: -webkit-clip-path 0.05s ease-in-out;
  transition: clip-path 0.05s ease-in-out;
  transition: clip-path 0.05s ease-in-out, -webkit-clip-path 0.05s ease-in-out;
  height: 2px;
  position: absolute;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
section#high-spec-section #change-section div.grid-wrapper div.slider-wrapper div.slider #slider-cdrag {
  z-index: 1;
  width: 28px;
  position: absolute;
  top: 50%;
  left: 0%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.05s ease-in-out;
}
section#high-spec-section #change-section div.grid-wrapper div.slider-wrapper div.slider #slider-cfilled {
  z-index: 1;
  width: 28px;
  position: absolute;
  top: 50%;
  opacity: 0;
  right: 0%;
  transform: translate(50%, -50%);
  transition: all 0.05s ease-in-out;
}
section#high-spec-section #change-section div.grid-wrapper div.slider-wrapper #range-input {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  z-index: 2;
  height: 100%;
}
section#high-spec-section #change-section a {
  opacity: 0;
}

section#ask-section {
  color: #edf4ff;
  padding-block: 120px;
  background: radial-gradient(70.03% 70.03% at 50% 50%, #00437a 0%, #001e50 100%);
  padding-inline: 20px;
  opacity: 0;
}
section#ask-section p {
  font-size: 36px;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
  margin-bottom: 52px;
}
section#ask-section p span {
  opacity: 0;
  position: relative;
}
section#ask-section a {
  border-color: #edf4ff;
}
section#ask-section a:hover {
  background-color: rgba(237, 244, 255, 0.1);
}

section#meet-section {
  padding-inline: 20px;
  margin-bottom: 200px;
  padding-top: 200px;
}
section#meet-section header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 40px;
  margin-bottom: 80px;
}
section#meet-section header h2 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  opacity: 0;
  position: relative;
}
section#meet-section header h2 span {
  font-weight: 500;
}
section#meet-section header div {
  display: none;
  opacity: 0;
}
@media (min-width: 768px) {
  section#meet-section header {
    margin-bottom: 120px;
  }
  section#meet-section header div {
    display: block;
    width: 64px;
    height: 64px;
    background-color: #001e50;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  section#meet-section header {
    justify-content: center;
  }
}
section#meet-section #retailer-section {
  margin-bottom: 120px;
}
section#meet-section #retailer-section div.text-wrapper {
  margin-bottom: 60px;
}
section#meet-section #retailer-section div.text-wrapper p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 60px;
  opacity: 0;
  position: relative;
}
section#meet-section #retailer-section div.text-wrapper a {
  opacity: 0;
}
section#meet-section #retailer-section div.img-wrapper img {
  width: 100%;
  opacity: 0;
  position: relative;
}
section#meet-section #tools-section h3 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
  margin-bottom: 80px;
  opacity: 0;
}
section#meet-section #tools-section h3 span {
  font-weight: 500;
}
section#meet-section #tools-section div.grid-wrapper {
  display: grid;
  gap: 40px;
  padding-block: 20px;
}
@media (min-width: 768px) {
  section#meet-section #tools-section div.grid-wrapper {
    overflow-x: auto;
    margin-inline: -60px;
    padding-inline: 60px;
    grid-template-columns: repeat(3, 360px);
  }
}
@media (min-width: 1200px) {
  section#meet-section #tools-section div.grid-wrapper {
    gap: 0;
    justify-content: space-evenly;
    margin-inline: 0px;
    padding-inline: 0;
  }
}
@media (min-width: 1340px) {
  section#meet-section #tools-section div.grid-wrapper {
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 1600px) {
  section#meet-section #tools-section div.grid-wrapper {
    max-width: 1280px;
    justify-content: space-around;
  }
}
@media (min-width: 1920px) {
  section#meet-section #tools-section div.grid-wrapper {
    grid-template-columns: repeat(3, 400px);
    max-width: 1400px;
  }
}
section#meet-section #tools-section div.grid-wrapper div {
  opacity: 0;
  position: relative;
}
section#meet-section #tools-section div.grid-wrapper div img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  margin-bottom: 32px;
  display: block;
}
section#meet-section #tools-section div.grid-wrapper div a {
  line-height: 1.3;
  font-size: 24px;
}
section#meet-section #tools-section div.grid-wrapper div a:hover {
  color: #068cc4;
}

footer {
  border-top: 2px solid #001e50;
  margin-inline: 20px;
  padding-top: 72px;
  padding-bottom: 72px;
  opacity: 0;
}
footer .grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
  margin-bottom: 52px;
}
footer .grid-wrapper h4 {
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 40px;
  color: #000d23;
  opacity: 0;
}
footer .grid-wrapper li {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 16px;
  opacity: 0;
  position: relative;
}
footer ul.links-line {
  font-size: 16px;
  line-height: 2;
}
footer ul.links-line li {
  display: inline-block;
  opacity: 0;
}
footer ul.links-line li::after {
  content: "|";
  display: inline-block;
  padding-left: 12px;
  padding-right: 10px;
}
footer ul.links-line li:last-of-type::after {
  display: none;
}
footer a:hover {
  color: #068cc4;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(70%);
  }
  60% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-35%);
  }
  100% {
    transform: translateX(0%);
  }
}
@media (min-width: 768px) {
  nav button {
    display: none;
  }
  nav ul {
    flex-wrap: wrap;
    -moz-column-gap: 28px;
         column-gap: 28px;
    flex-direction: row;
    border-bottom: none;
    row-gap: 16px;
    transform: scaleY(1);
    opacity: 1;
    padding-inline: 60px;
    position: static;
  }
  nav ul li a {
    font-size: 18px;
  }
  header#hero div.grid-wrapper h1 {
    margin-bottom: 50px;
  }
  header#hero div.grid-wrapper h1 span.future {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  header#hero div.grid-wrapper h1 span.egolf {
    font-size: 44px;
    font-weight: 300;
  }
  section#quote-section {
    padding-inline: 60px;
  }
  section#quote-section div.quote p {
    margin-inline: 60px;
  }
  section#quote-section div.quote p:before {
    top: -24px;
    left: -80px;
  }
  section#quote-section div.quote p:after {
    bottom: -24px;
    right: -80px;
  }
  section#quote-section ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  section#electrifying-section {
    padding-inline: 60px;
  }
  section#electrifying-section .grid-wrapper .grid-item {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    gap: 44px;
  }
  section#electrifying-section .grid-wrapper .number {
    font-size: 80px;
    flex-shrink: 0;
  }
  section#london-section {
    padding-inline: 120px;
  }
  section#london-section p:before {
    top: -40px;
    left: -88px;
  }
  section#london-section p:after {
    bottom: -40px;
    right: -88px;
  }
  section#try-section {
    padding-inline: 0;
  }
  section#greener-section {
    padding-inline: 60px;
  }
  section#greener-section #why-electric div li {
    display: flex;
    align-items: center;
    gap: 44px;
  }
  section#greener-section #why-electric div li span.number {
    margin-bottom: 0;
    flex-shrink: 0;
  }
  section#charging-section {
    padding-inline: 60px;
  }
  section#charging-section div.img-wrapper {
    display: block;
    position: relative;
  }
  section#charging-section div.img-wrapper img {
    height: 450px;
    position: absolute;
    right: 0;
    top: 100px;
    transform: translateY(-50%);
  }
  section#charging-section div.text-wrapper {
    margin-bottom: 160px;
  }
  section#high-spec-section {
    padding-inline: 60px;
    padding-top: 360px;
  }
  section#high-spec-section #change-section h3 br {
    display: block;
  }
  section#high-spec-section #change-section div.grid-wrapper p {
    font-size: 24px;
  }
  section#ask-section {
    padding-inline: 60px;
  }
  section#ask-section p br.mobile {
    display: none;
  }
  section#meet-section {
    padding-inline: 60px;
  }
  footer {
    margin-inline: 60px;
  }
  footer ul.links-line {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  nav ul {
    padding-inline: 0;
  }
  header#hero div.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    align-items: center;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  header#hero div.grid-wrapper {
    padding-inline: 70px;
  }
}
@media (min-width: 1024px) and (min-width: 1920px) {
  header#hero div.grid-wrapper {
    padding-inline: 10%;
  }
}
@media (min-width: 1024px) and (min-width: 2200px) {
  header#hero div.grid-wrapper {
    padding-inline: 15%;
  }
}
@media (min-width: 1024px) {
  header#hero div.grid-wrapper img.discover {
    opacity: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    width: 85%;
  }
  header#hero div.grid-wrapper h1 {
    grid-column: 1/7;
    margin-bottom: 0;
  }
  header#hero div.grid-wrapper h1 span {
    text-align: left;
  }
  header#hero div.grid-wrapper h1 span.future {
    font-size: 52px;
    margin-bottom: 68px;
  }
  header#hero div.grid-wrapper h1 span.future img.line-1 {
    bottom: -20px;
  }
  header#hero div.grid-wrapper h1 span.future img.line-2 {
    bottom: -45px;
  }
  header#hero div.grid-wrapper img.car {
    grid-column: 7/13;
    width: 120%;
  }
  section#quote-section {
    padding-inline: 0px;
  }
  section#quote-section div.quote {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    align-items: center;
    margin-bottom: 200px;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  section#quote-section div.quote {
    padding-inline: 70px;
  }
}
@media (min-width: 1024px) and (min-width: 1920px) {
  section#quote-section div.quote {
    padding-inline: 10%;
  }
}
@media (min-width: 1024px) and (min-width: 2200px) {
  section#quote-section div.quote {
    padding-inline: 15%;
  }
}
@media (min-width: 1024px) {
  section#quote-section div.quote div.img-wrapper {
    grid-column: 1/6;
    order: -1;
    position: relative;
  }
  section#quote-section div.quote div.img-wrapper img {
    height: 300px;
    width: auto;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
  }
  section#quote-section div.quote p {
    grid-column: 6/12;
    margin: 0;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  section#quote-section ul {
    padding-inline: 70px;
  }
}
@media (min-width: 1024px) and (min-width: 1920px) {
  section#quote-section ul {
    padding-inline: 10%;
  }
}
@media (min-width: 1024px) and (min-width: 2200px) {
  section#quote-section ul {
    padding-inline: 15%;
  }
}
@media (min-width: 1024px) {
  section#london-section p {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  section#london-section p br {
    display: block;
  }
  section#greener-section #why-electric {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    align-items: center;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  section#greener-section #why-electric {
    padding-inline: 70px;
  }
}
@media (min-width: 1024px) and (min-width: 1920px) {
  section#greener-section #why-electric {
    padding-inline: 10%;
  }
}
@media (min-width: 1024px) and (min-width: 2200px) {
  section#greener-section #why-electric {
    padding-inline: 15%;
  }
}
@media (min-width: 1024px) {
  section#greener-section #why-electric div {
    margin-bottom: 0;
    grid-column: 1/7;
  }
  section#greener-section #why-electric img {
    grid-column: 7/13;
  }
  section#greener-section #simulate-section {
    padding-top: 160px;
  }
  section#charging-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    align-items: center;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  section#charging-section {
    padding-inline: 70px;
  }
}
@media (min-width: 1024px) and (min-width: 1920px) {
  section#charging-section {
    padding-inline: 10%;
  }
}
@media (min-width: 1024px) and (min-width: 2200px) {
  section#charging-section {
    padding-inline: 15%;
  }
}
@media (min-width: 1024px) {
  section#charging-section div.img-wrapper {
    grid-column: 1/6;
  }
  section#charging-section div.img-wrapper img {
    height: 340px;
    top: 0;
    opacity: 0;
  }
  section#charging-section div.text-wrapper {
    margin-bottom: 0;
    grid-column: 6/13;
  }
  section#high-spec-section {
    padding-top: 200px;
  }
  section#high-spec-section #change-section h3 br {
    display: none;
  }
  section#high-spec-section #change-section div.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    align-items: center;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  section#high-spec-section #change-section div.grid-wrapper {
    padding-inline: 70px;
  }
}
@media (min-width: 1024px) and (min-width: 1920px) {
  section#high-spec-section #change-section div.grid-wrapper {
    padding-inline: 10%;
  }
}
@media (min-width: 1024px) and (min-width: 2200px) {
  section#high-spec-section #change-section div.grid-wrapper {
    padding-inline: 15%;
  }
}
@media (min-width: 1024px) {
  section#high-spec-section #change-section div.grid-wrapper div.img-wrapper {
    grid-column: 4/10;
    margin-bottom: 24px;
  }
  section#high-spec-section #change-section div.grid-wrapper div.slider-block-wrapper {
    grid-column: 3/11;
  }
  section#ask-section {
    padding-inline: 0px;
  }
  section#meet-section #retailer-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    align-items: center;
    margin-bottom: 160px;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  section#meet-section #retailer-section {
    padding-inline: 70px;
  }
}
@media (min-width: 1024px) and (min-width: 1920px) {
  section#meet-section #retailer-section {
    padding-inline: 10%;
  }
}
@media (min-width: 1024px) and (min-width: 2200px) {
  section#meet-section #retailer-section {
    padding-inline: 15%;
  }
}
@media (min-width: 1024px) {
  section#meet-section #retailer-section div.text-wrapper {
    grid-column: 1/8;
    margin-bottom: 0px;
  }
  section#meet-section #retailer-section div.text-wrapper p {
    margin-bottom: 40px;
  }
  section#meet-section #retailer-section div.text-wrapper a {
    margin: 0;
  }
  section#meet-section #retailer-section div.img-wrapper {
    grid-column: 8/13;
    position: relative;
  }
  section#meet-section #retailer-section div.img-wrapper img {
    width: auto;
    height: 340px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
  }
  footer .grid-wrapper {
    grid-template-columns: 1.1fr 1fr 1.2fr 0.7fr;
    margin-bottom: 72px;
  }
}
@media (min-width: 1200px) {
  header#hero div.grid-wrapper h1 {
    grid-column: 2/7;
  }
  header#hero div.grid-wrapper img.car {
    grid-column: 7/13;
    width: 100%;
  }
  section#quote-section div.quote div.img-wrapper {
    grid-column: 1/5;
  }
  section#quote-section div.quote div.img-wrapper img {
    width: 130%;
    height: auto;
  }
  section#quote-section div.quote p {
    grid-column: 5/12;
  }
  section#quote-section ul {
    grid-template-columns: repeat(4, 1fr);
  }
  section#electrifying-section {
    padding-inline: 0;
  }
  section#electrifying-section .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    align-items: center;
  }
}
@media (min-width: 1200px) and (min-width: 1024px) {
  section#electrifying-section .grid-wrapper {
    padding-inline: 70px;
  }
}
@media (min-width: 1200px) and (min-width: 1920px) {
  section#electrifying-section .grid-wrapper {
    padding-inline: 10%;
  }
}
@media (min-width: 1200px) and (min-width: 2200px) {
  section#electrifying-section .grid-wrapper {
    padding-inline: 15%;
  }
}
@media (min-width: 1200px) {
  section#electrifying-section .grid-wrapper .grid-item-1 {
    grid-column: 3/10;
  }
  section#electrifying-section .grid-wrapper .grid-item-2 {
    grid-column: 5/12;
  }
  section#electrifying-section .grid-wrapper .grid-item-3 {
    grid-column: 4/11;
  }
  section#greener-section {
    padding-inline: 0;
  }
  section#greener-section #why-electric div {
    grid-column: 2/7;
  }
  section#greener-section #why-electric img {
    grid-column: 8/13;
    height: 80%;
    width: auto;
  }
  section#greener-section #simulate-section h3 {
    text-align: center;
    margin-bottom: 80px;
  }
  section#charging-section div.img-wrapper img {
    height: 450px;
  }
  section#charging-section div.text-wrapper {
    grid-column: 6/12;
  }
  section#high-spec-section {
    padding-inline: 0;
  }
  section#high-spec-section div.text-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    align-items: center;
  }
}
@media (min-width: 1200px) and (min-width: 1024px) {
  section#high-spec-section div.text-wrapper {
    padding-inline: 70px;
  }
}
@media (min-width: 1200px) and (min-width: 1920px) {
  section#high-spec-section div.text-wrapper {
    padding-inline: 10%;
  }
}
@media (min-width: 1200px) and (min-width: 2200px) {
  section#high-spec-section div.text-wrapper {
    padding-inline: 15%;
  }
}
@media (min-width: 1200px) {
  section#high-spec-section div.text-wrapper p {
    grid-column: 2/12;
  }
  section#meet-section {
    padding-inline: 0;
  }
  section#meet-section #retailer-section div.text-wrapper {
    grid-column: 2/8;
  }
  section#meet-section #retailer-section div.img-wrapper {
    grid-column: 8/13;
  }
  section#meet-section #retailer-section div.img-wrapper img {
    width: 130%;
    height: auto;
  }
  footer {
    margin-inline: 70px;
  }
}
@media (min-width: 1920px) {
  header#hero div.grid-wrapper {
    padding-inline: 100px;
  }
  header#hero div.grid-wrapper h1 span.future {
    font-size: 72px;
    margin-bottom: 80px;
  }
  header#hero div.grid-wrapper h1 span.egolf {
    font-size: 56px;
  }
  section#quote-section {
    padding-top: 300px;
  }
  section#quote-section div.quote {
    margin-bottom: 250px;
  }
  section#quote-section div.quote p {
    grid-column: 6/12;
  }
  section#quote-section div.quote div.img-wrapper img {
    width: auto;
    max-height: 550px;
    height: auto;
  }
  section#electrifying-section {
    padding-bottom: 260px;
    padding-top: 260px;
  }
  section#london-section {
    padding-block: 200px;
  }
  section#try-section {
    padding-top: 220px;
    padding-bottom: 120px;
  }
  section#try-section p {
    margin-bottom: 56px;
  }
  section#greener-section {
    margin-bottom: 260px;
  }
  section#greener-section #simulate-section h3 {
    margin-bottom: 80px;
  }
  section#greener-section #simulate-section div article img {
    height: 240px;
  }
  section#greener-section #simulate-section div article a {
    width: 100%;
  }
  section#high-tech-section {
    padding-top: 260px;
  }
  section#ask-section {
    padding-block: 160px;
  }
  section#ask-section p {
    margin-bottom: 56px;
  }
  section#meet-section {
    padding-top: 260px;
  }
  section#meet-section header {
    margin-bottom: 160px;
  }
  section#meet-section #retailer-section div.text-wrapper p {
    margin-bottom: 60px;
  }
  section#meet-section #retailer-section div.img-wrapper img {
    width: 110%;
  }
  footer {
    margin-inline: 10%;
  }
}
@media (min-width: 2100px) {
  header#hero div.grid-wrapper {
    padding-inline: 100px;
  }
  header#hero div.grid-wrapper h1 span.future {
    font-size: 92px;
    margin-bottom: 92px;
  }
  header#hero div.grid-wrapper h1 span.egolf {
    font-size: 72px;
  }
  footer {
    margin-inline: 15%;
  }
}/*# sourceMappingURL=style.css.map */